@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .col-md-5 {
        height: 500px !important;
    }
    #content {
        padding: 120px;
        text-align: center;
    }
</style>
 
<div id="content">
    <h2>Email đã được gửi</h2>
    <h3>Vui lòng kiểm tra và xác nhận</h3>
</div>

