@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<style>
    #inputSearch {
        border-radius: 10px;
    }
    .btn-primary {
        margin-left: 10px;
        width: 100px;
    }
    button {
        width: 108px;
        height: 37px;
        border-radius: 10px;
    }

    .input-group {
        padding: 30px !important;
    }

    h6 {
        margin-right: 17px;
        margin-top: 8px;
    }

    .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    #choose {
        margin-top: 14px;
        width: 15px !important;
    }

    p {
        margin-top: 9px;
        margin-left: 10px;
    }

    #formUpdate {
        padding: 30px;
        padding-left: 36px;
    }

    #errorMessage {
        width: 100%;
        margin-left: 130px;
    }
    .btn-add{
        display:none;
    }

    element.style {
    }

    <style >
    #choose {
        margin-top: 14px;
        width: 15px !important;
    }

    .form-group input[type="checkbox"] {
        opacity:1;
    }
</style>
<div class="content">
    <div class="input-group">

        <h6>Nhập tên Email</h6>
        <input placeholder="Vui lòng nhập Email" type="search" id="inputSearch" class="form-control" />
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
        <span id="errorMessage" class="text-danger"></span>
    </div>

    <form method="post" id="formUpdate" asp-action="ConfirmPassword">
        <div id="user" class="hover">
          
        </div>
        <button style="margin-left:100px; margin-left:110px;" type="submit" class="btn-add">
            Xác nhận
        </button>
    </form>
</div>

<script>
    $(".btn-primary").click(function () {
        var email = $("#inputSearch").val();
        if (email == '')
            $("#errorMessage").text("Vui lòng nhập Email");
        else {
            $("#errorMessage").text("");
            $("#user").text("");
            
            $("#formUpdate").css("display", "block");
            $.get("/Home/SearchEmail/?email=" + email, function (respone) {
               
                if (respone != "null") {
                    respone = JSON.parse(respone);
                    $("#user").append(`<div class="form-group mb-4">
                       
                        <input class="hover" id="choose" type="checkbox" value="" />
                        
                        <input name="LoginExternal"  type="hidden" value="${respone.LoginExternal}" />
                        <input name="Avartar"  type="hidden" value="${respone.Avartar}" />
                        <input name="Id"  type="hidden" value="${respone.Id}" />
                         <input name="PasswordHash"  type="hidden" value="${respone.PasswordHash}" />
                        <input name="SecurityStamp"  type="hidden" value="${respone.SecurityStamp}" />
                        <input name="Email"  type="hidden" value="${respone.Email}" />
                        <img class="avatar" src="${respone.LoginExternal ? respone.Avartar : "/Client/avartar/" + respone.Avartar}" alt="Alternate Text" />
                        <p>${respone.Email}</p></div>`);
                    $(".btn-add").css("display", "block");
                } else {
                    $(".btn-add").css("display", "none");
                    $("#user").html("<h3>Email chưa đăng ký hoặc không tồn tại!</h3>")
                }
            });
        }

    });
    $("#formUpdate").submit(function (event) {
        if ($("#choose").prop('checked')) {
            return;
        }
        toast('Vui lòng chọn tài khoản', '/Client', {
            type: 'warn',
            animation: 'zoom',
            position: 'bottom-right'
        });
        event.preventDefault();
        
    });
</script>

