
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<style>
    #inputSearch {
        border-radius: 10px 0px 0px 10px;
    }

    #btnforgotPassword {
        width: 108px;
        height: 37px;
        border-radius: 10px;
    }

    .input-group__forgot {
        padding: 30px !important;
    }

    .h6Forgot {
        margin-right: 17px;
        margin-top: 8px;
    }

    .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 25px;
    }

    #choose {
        margin-top: 14px;
        width: 15px !important;
    }

    .pforgot {
        margin-top: 9px;
        margin-left: 10px;
    }

    #formUpdate {
        margin-left: 16px;
    }

    .frmfofgot {
        display: flex !important;
        padding: 30px !important;
    }

    #errorMessage {
        width: 100%;
        margin-left: 110px;
    }

    .btn-add {
        display: none;
    }

    .btn-outline-primary {
        margin-left: 170px;
        margin-bottom: 20px;
    }

    .input-group__forgot .btn-primary {
        width: 10%;
        border-radius: 0px 10px 10px 0px;
        height: 38px;
    }

    .modal-header button {
        width: 50px;
        color: red;
    }
</style>
<div class="content">

    <form method="post" id="formUpdate" asp-action="ConfirmPassword">
        <div class="input-group input-group__forgot">
            <h6 class="h6Forgot">Nhập Email :</h6>
            <input name="email" placeholder="Vui lòng nhập Email" type="search" id="inputSearch" class="form-control" />
            <button type="submit" class="btn btn-primary btnforgotPassword ">
                <i class="zmdi zmdi-search"></i>
            </button>
            <span id="errorMessage" class="text-danger"></span>
        </div>
    </form>
</div>

<script>

    $("#formUpdate").submit(function (event) {
        var email = $("#inputSearch").val();
        if (email != '' && isEmail(email))
            return;
        if (email == '')
            $("#errorMessage").text("Vui lòng nhập Email!");
        else {
            if (!isEmail(email))
                $("#errorMessage").text("Vui lòng nhập đúng định dạng Email!");
        }
        event.preventDefault();
    });
    function isEmail(email) {
        var regexp = /\S+@@\S+\.\S+/;
        // Converting the email to lowercase
        return regexp.test(String(email).toLowerCase());
    }

</script>

