<div class="col site-layout">
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container22">
        <a href="detail.html">
            <div class="container222">
                <iframe width="261" height="165" src="~/Client/video/video1.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container222_end">
                <div class="detail_video">
                    <img class="detail_lerft icon-sidebar-item_video" alt="" src="~/Client/img/avatar.svg">
                    <span class="detail_right text-sidebar-item_video">Làm nồi cháo vịt xiêm trộn gỏi bắp chuối ngày mưa bão </span>
                </div>
                <div class="detail_video2">
                    <div class="detail_lerfts"></div>
                    <div class="detail_rights">
                        <div class="text_color">ẨM THỰC CHÒI LÁ</div>
                        <div class="text_color_check">15 lượt xem . 37 phút trước</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>