@model AppUserRequest
@{
    Layout = "/Areas/Administration/Views/Shared/_Layout_Register.cshtml";
}


<div class="content">
    <form method="post" id="formUpdate" asp-action="ConfirmPassword">
        <div class="form-group">
            <label>Địa chỉ Email</label>
            <input class="au-input au-input--full" type="search"  asp-for="Email" placeholder="Vui lòng nhập Email"  id="inputSearch">
            <span id="errorMessage" class="text-danger"></span>
        </div>
        <button  class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Xác nhận</button>
    </form>
</div>

<script>


    $("#formUpdate").submit(function (event) {
        var email = $("#inputSearch").val();
        if (email != '' && isEmail(email))
            return;
        if (email == '')
            $("#errorMessage").text("Vui lòng nhập Email!");
        else {
            if (!isEmail(email))
                $("#errorMessage").text("Vui lòng nhập đúng định dạng Email!");
        }
        event.preventDefault();
    });
    function isEmail(email) {
        var regexp = /\S+@@\S+\.\S+/;
        // Converting the email to lowercase
        return regexp.test(String(email).toLowerCase());
    }
</script>

