@model AppUserRequest
@{
    Layout = "/Areas/Administration/Views/Shared/_Layout_Register.cshtml";
}


<div class="content">
    <form method="post" id="formUpdate" asp-action="ConfirmPassword">
        <div class="form-group">
            <label>Địa chỉ Email</label>
            <input class="au-input au-input--full" type="search"  asp-for="Email" placeholder="Vui lòng nhập Email"  id="inputSearch">
            <span id="errorMessage" class="text-danger"></span>
        </div>
        <div class="form-group mb-4" style="display:inline-flex;">
            <input hidden id="choose" type="checkbox" value="" />
            <div id="user" style="display:flex"></div>
        </div>
        <button disabled class="au-btn au-btn--block au-btn--green m-b-20" type="button">Tìm kiếm</button>
    </form>
</div>

<script>
    $("#choose").click(function () {
        
        if ($(this).prop("checked"))
            $(".au-btn--block").prop("disabled", false);
        else $(".au-btn--block").prop("disabled", true);
    });
    $("#inputSearch").change(function () {
        $(".au-btn--block").prop("disabled", false);
    });
    $(".au-btn--block").click(function () {
        if ($(".au-btn--block").text() == "Tiếp tục")
            $(".img-loading").css("display", "block");
    });
    $(".au-btn--block").click(function () {
        var email = $("#inputSearch").val();
        if (email == '')
            $("#errorMessage").text("Vui lòng nhập Email");
        else {
            $("#errorMessage").text("");
            $("#user").text("");

            $("#formUpdate").css("display", "block");
            $.get("/Administration/Home/SearchEmail/?email=" + email, function (respone) {

                if (respone != "null") {
                    respone = JSON.parse(respone);
                    $("#user").append(`
                        
                        <input name="LoginExternal"  type="hidden" value="${respone.LoginExternal}" />
                        <input name="Avartar"  type="hidden" value="${respone.Avartar}" />
                        <input name="Id"  type="hidden" value="${respone.Id}" />
                         <input name="PasswordHash"  type="hidden" value="${respone.PasswordHash}" />
                        <input name="SecurityStamp"  type="hidden" value="${respone.SecurityStamp}" />
                        <input name="Email"  type="hidden" value="${respone.Email}" />
                        <img class="avatar" src="${respone.LoginExternal ? respone.Avartar : "/Client/avartar/" + respone.Avartar}" alt="Alternate Text" />
                        <p class="form-group__email">${respone.Email}</p>
                     `);
                    $(".au-btn--block").text("Tiếp tục");
                    $(".au-btn--block").prop("type", "submit");
                    $(".au-btn--block").prop("disabled", true);
                    $("#choose").prop("hidden", false);
                  
                } else {
                    $("#user").html("<h3>Email chưa đăng ký hoặc không tồn tại!</h3>")
                }
            });
        }

    });
</script>

