<table class="data-table">
    <thead>
        <tr>
            <th class="stt">STT</th>
            <th class="name">Tên đầy đủ</th>
            <th class="email">Email</th>
            <th class="activated">Kích hoạt</th>
            <th class="gender">Giới tính</th>
            <th class="phone">Số điện thoại</th>
            <th class="group">Nhóm</th>
            <th class="date-attendance">Ngày tham gia</th>
            <th class="decentralization">Phân quyền</th>
            <th class="function_user">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
        <tr class="data">
            <td class="stt">1</td>
            <td class="name">Trần Văn Bình</td>
            <td class="email">emailbinh65@gmail.com</td>
            <td class="activated">
                <div class="bg-status-active text-left">
                    <img class="icon-active" alt="" src="~/Administration/assets/img/ic_active_18px.svg">
                    <span class="status-active">Đã kích hoạt</span>
                </div>
            </td>
            <td class="gender">Nam</td>
            <td class="phone">0214 774 110</td>
            <td class="group">Kinh doanh 1</td>
            <td class="date-attendance">14/12/2020</td>
            <td class="decentralization">Người dùng</td>
            <td class="function_meeting">
                <div class="functions_meeting__mes">

                    <button class="functions_meeting__mes__btn" id="edit-super-adminTM" data-toggle="modal" data-target="#modalEditUser">
                        <i class="fa fa-edit"></i>
                    </button>

                </div>
                <div class="functions_meeting__mes">
                    <button class="functions_meeting__mes__btns" id="delete-super-adminTM" data-toggle="modal" data-target="#myModalMT_delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>

        </tr>
    </tbody>
</table>