@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout_Register.cshtml";
}
<div class="bodychyentk">
    <div class="textchuyentaikhoan">
        <div class="textheader">Tài khoản</div>
        <div class="khungtaikhoangadmin hover">
            <div class="kengangtaikhoan"></div>
            <div class="email_nametaikhoan">tannhat.21012000@gmail.com</div>
            <div class="khunganh_taikhoan">
                <div class="khunganh_taikhoanleft">
                    <div class="khung_img_khunganh_taikhoanleft">
                        <img src="/Client/avartar/avartarDefault.jpg" alt="" class="imgtolen">
                    </div>
                </div>
                <div class="khunganh_taikhoanright">
                    <div class="name_acount_nguoidangky">Nhật phạm</div>
                    <span class="soluong_subkenh acounts">10</span>
                    <span class="acounts">người đăng ký</span>
                </div>
            </div>
        </div>
        <div class="khungtaikhoangadmin hover">
            <div class="kengangtaikhoan"></div>
            <div class="email_nametaikhoan">tannhat.21012000@gmail.com</div>
            <div class="khunganh_taikhoan">
                <div class="khunganh_taikhoanleft">
                    <div class="khung_img_khunganh_taikhoanleft">
                        <img src="/Client/avartar/avartarDefault.jpg" alt="" class="imgtolen">
                    </div>
                </div>
                <div class="khunganh_taikhoanright">
                    <div class="name_acount_nguoidangky">Nhật phạm</div>
                    <span class="soluong_subkenh acounts">10</span>
                    <span class="acounts">người đăng ký</span>
                </div>
            </div>
        </div>
        <div class="kengangtaikhoan"></div>
        <div class="chuyentaikhoanall hover">
            <i class="material-icons vaotrongs">&#xe7f0;</i>
            <span class="outdangxuat">Chuyển tài khoản</span>
        </div>
        <div class="dangxuattaikhoanall hover">
            <i class="material-icons vaotrongs">&#xe879;</i>
            <span class="outdangxuat">Đăng xuất</span>
        </div>
    </div>
</div>