@model DoanData.Models.Category

@{

    Layout = null;
}
<style>
    .modal-content {
        width: 50%;
        margin-left: 30%;
    }

    .col-md-12 {
        margin: 0;
    }

    #errorName {
        font-size: 14px;
        margin: 1px 0px 0px 5px;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="idEdit" type="hidden" asp-for="Id" class="form-control" />
        <input id="status" type="hidden" asp-for="Status" class="form-control" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input id="nameEdit" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="modal-footer">
            <input type="button" value="Lưu" class="btn btn-primary repairCate" />
        </div>

    </div>
</div>

<script>
    $(".repairCate").click(function () {
        var data = {
            Name: $("#nameEdit").val(),
            Id: $("#idEdit").val(),
            Status: $("#status").val()
        };
        console.log(data);
        $.post("/Administration/Category/Edit", { categoryRequest: data }, function (respone) {
            if (respone == "Success") {
                $(".name-" + $("#idEdit").val()).text($("#nameEdit").val());
                alertSuccess("Đã cập nhật");
                $("#mediumModal").modal('hide');
            }
        });
    });
</script>

