
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/css/login.css">
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link href="~/Client/css/styleRegister.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <hr />
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="~/Client/img/logo2.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </main>
    @RenderSection("Scripts",false)
</body>
</html>


