<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/demo.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="warpper">
        <div class="header">
            <div class="container-header">
                <div class="menu">
                    <div class="click_menu"></div>
                </div>
                <div class="logo"></div>
                <input id="name" placeholder="Tìm Kiếm" type="text" name="name" class="search">
                <div class="searchs">
                    <a href="" class="search_sokiuty">
                        <div class="search_sokiuty_img"></div>
                    </a>
                </div>
                <div class="khoangcach"></div>
                <div class="loginUser">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="completed_Login">
                            <div class="create">
                            </div>
                            <div class="notification"></div>
                            <div class="account_information">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="no_Login" class="list_dangnhap_header" data-toggle="modal" data-target="#leave_the_room">
                            <a asp-action="Login" asp-controller="Home">
                                <div class="list_dangnhap_left">
                                    <div class="img_list_dangnhap"></div>
                                </div>
                                <div class="list_dangnhap_right">ĐĂNG NHẬP</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    <div class="row">
        <nav class="col strong_headers">
            <li class="sidebar-focus sidebar-item-first sidebar-menu sider_tops">
                <a asp-action="Index" asp-controller="Home">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/home_mau.png">
                        <span class="active-sidebar-item">Trang chủ</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a asp-action="Popular" asp-controller="Home">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/explore.png">
                        <span class="text-sidebar-item">Khám phá</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a href="">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_danky.png">
                        <span class="text-sidebar-item">Kênh đăng ký</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu sider_colors" style="height: 0px;">
                <div style="background-color: #0C386A; height:1px"></div>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a href="">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_thuvien.png">
                        <span class="text-sidebar-item">Thư viện</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a href="">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/future.png">
                        <span class="text-sidebar-item">Video đã xem</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a href="">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_videocuaban.png">
                        <span class="text-sidebar-item">Video của bạn</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a href="">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/clock.png">
                        <span class="text-sidebar-item">Xem sau</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu">
                <a asp-action="FavoritedVideo" asp-controller="Home">
                    <div class="row">
                        <img class="icon-sidebar-item" alt="" src="~/Client/img/like.png">
                        <span class="text-sidebar-item">Video đã thích</span>
                    </div>
                </a>
            </li>
            <li class="text-white sidebar-item sidebar-menu sider_colors" style="height: 0px;">
                <div style="background-color: #0C386A; height:1px"></div>
            </li>
            <div class="hearer_container_text">Kênh Đăng Ký</div>
            <div class="xohangall">
                <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                    <a href="">
                        <div class="row">
                            <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                            <span class="text-sidebar-item fix_texts">Phim hay</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                    <a href="">
                        <div class="row">
                            <img class="icon-sidebar-item" alt="" src="~/Client/img/imgs.svg">
                            <span class="text-sidebar-item fix_texts">Khoa pug</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                    <a href="">
                        <div class="row">
                            <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                            <span class="text-sidebar-item fix_texts">Nhật Phạm</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                    <a href="">
                        <div class="row">
                            <img class="icon-sidebar-item" alt="" src="~/Client/img/imgs.svg">
                            <span class="text-sidebar-item fix_texts">Khoa pug</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                    <a href="">
                        <div class="row">
                            <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                            <span class="text-sidebar-item fix_texts">Nhật Phạm</span>
                        </div>
                    </a>
                </li>
            </div>
            <div class="collapses">
                Xem thêm
            </div>
           
        </nav>
        <div class="contentBody">
            @RenderBody()
        </div>
    </div>
    <script src="~/Client/js/site.js"></script>
</body>
</html>