@model DoanData.Models.AppRole

@{
    ViewData["Title"] = "Create";
    Layout = null;

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" id="errorName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $("#Name").blur(function () {

        var roleName = $("#Name").val();
        $("#errorName").text('');
        $.get("/Administration/Role/CheckName/?name=" + roleName, function (respone) {
            if (respone == "Error") {
                $("#errorName").text("Tên chủ đề bạn nhập đã tồn tại!");
            }
        });

    });
    $("#formCreate").submit(function (event) {
        if ($("#Name").val() == '' || $("#errorName").text() != '') {
            if ($("#Name").val() == '')
                $("#errorName").text("Vui lòng nhập tên!");
            event.preventDefault();
        }
    });
</script>
}
